<%= form_for(@article)  do |f|%>
  <p>
  	<%= f.label :title %>
  	<%= f.text_field :title %>
  </p>
  <p>
  	<%= f.label :name %>
  	<%= f.text_field :name %>
  </p>
  <p>
  	<%= f.label :content%>
  	<%= f.text_area :content %>
  </p>
  <p>
  	<%= f.submit "Submit" %>
  </p>
<% end %>